<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylejob.css" >
    <link rel="stylesheet" href="css/chat.css" >
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Personal Portfolio</title>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script>
            particlesJS.load('particles-js', 'particles.json',
            function(){
                console.log('particles.json loaded...')
            })
        </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
</head>
<body>
    <!-- progress-bar -->
    <div id="progressbar"> </div>


    
    <!-- navbar -->
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">PORTFO<span>LIO.</span></a></div>
            <ul class="menu">
                <li><a class="hhh" href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact2">Contact</a></li>
                <li><a href="#certss">Certificate</a></li>
            </ul>
            <div class="menu-btn"><i class="fas fa-bars"></i></div>
        </div>
    </nav>
    
     <!-- CHAT BAR  -->
     <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">
            <i class='fab fa-facebook-messenger' style='font-size:60px'></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-paper-plane" aria-hidden="true"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--  home section start here -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello </div>
                <div class="text-2">Tannut Tawornsan</div>
                <div class="text-3">And I'm a <span>Computer engineering</span></div>
                <p> Prince of Songkla University Phuket campus</p>
                <button onclick="location.href='#contact2';" class="hire-bt">   Hire me</button>
            </div>
        </div>
    </section>

    <!-- about section start here -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="colum left">
                    <img src="../image/job03.JPG" alt="">
                </div>
                <div class="colum right">
                    <div class="text"> Tannut Tawornsan and I'm <span>Engneering</span></div>
                    <p>I graduated bachelor of Computer Engineering at Prince of Songkla University. I have interested Data Science , Data Engineer I have experience about programming and computer science. I think I can learn more about the computer effectively and I am ready to learn a new skill, and i am interested in Data Scientist and Data Engineer</p>
                    <a href="https://drive.google.com/file/d/1LMlvW2QoUbUBN6_WM47rYVHWXXBSkpHI/view?usp=sharing">Resume</a>
                </div>

            </div>
        </div>
    </section>

    <!-- services section start here -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Services</h2>
            <div class="services-content">

                <!--   card    -->

                <div class="card">
                    <div class="box">
                        <i class="fas fa-database"></i>
                        <div class="text">Big Data</div>
                        
                    </div>
                </div>
                <!--   card    -->
                <div class="card">
                    <div class="box">
                        <i class="fas fa-network-wired"></i>
                        <div class="text">Networking</div>
                        
                    </div>
                </div>
                <!--   card    -->
                <div class="card">
                    <div class="box">
                        <i class="fas fa-laptop-code"></i>
                        <div class="text">Programming</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services section start here -->
    <section class="skills" id="skills">
     <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">

        <div class="colum left">
             <div class="text">My creative skills & exprirances.</div>
             <p>Programming Skills : Node.js, Django, Python, Html, CSS, Vue.js, SQL
                </p>
                <p>Computer Skills : Microsoft Office, Power BI, Photoshop, Adobe Premier Pro</p>
                <p>Personal Skills : </p>
                    <p> Good teamwork and interpersonal skills</p>
                    <p>Emotional Intelligence </p> 
                    <p> Adaptability</p>
                    <p>Technologically competent</p>
             
        </div>
        

        <div class="colum right">
                <div class="carouselskills owl-carousel">
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/9ba0501b275070c98bb552e44490baf0.png" alt="">
                        <di class="text">CSS</di> 
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/d47cda71b770799ca31b9ddd7ea5c094.png" alt="">
                        <di class="text">HTML</di>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/674cb40a4ecc36a97e9c2bf1e085909f.png" alt="">
                        <di class="text">SQL</di>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/a399e435ffd49506695b8dfe3c3a9df3.png" alt="">
                        <di class="text">JavaScript</di>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/eb9ca5e5e8daf911db8ffa25faccc448.png" alt="">
                        <di class="text">Node.js</di>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/6f85f366a445985ff0c12f0188b84d30.png" alt="">
                        <di class="text">React Native</di>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/06871674984ea2f1246968f2bf0f391c.png" alt="">
                        <di class="text">Vue.js</di>
                        </div>
                    </div>
                </div>
            </div>
    </section>
                <!--    project gallary-->
            <section class="project" id="project">
                <div class="max-width">
                    <h2 class="title">My gallary project</h2>
                    <div class="carouselproject owl-carousel">
                        <div class="projectcard">
                            <div class="projectbox">
                                <div class="project-content">

                                     <div class="colum left">
                                       <div class="text">Login page</div>
                                            <p>used html and css to create web login page
                                            </p>
                                        </div>

                                        <div class="colum right">
                                            <div class="card">
                                                    <div class="box">
                                                    <img src="https://www.img.in.th/images/9ba0501b275070c98bb552e44490baf0.png" alt="">
                                                    <di class="text">CSS</di> 
                                                    </div>
                                            </div>
                                        
                                </div>
                            </div>
                        </div>
                     </div>
            </section>
                  <!-- particle section start here -->
        <div class="parti" id="particles-js"></div>
        
        <!-- contact section start here -->
        <section class="contacts" id="contacts">
            <div class="max-width">
                <h2 class="title">My Contact</h2>
                <div class="carousel owl-carousel">
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/a6f58b67649c53fc321c52e73129708d.png" alt="">
                        <di class="text">Facebook</di>
                        <p>Tannut Tawornsan</p> 
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/68e9f9536aa20a13f5ee03fd35c1d377.png" alt="">
                        <di class="text">Instagram</di>
                        <p>Tannut_</p> 
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/470b9a9bd72a1a233102bd49a14bf899.png" alt="">
                        <di class="text">Line</di>
                        <p>J.tawornsan</p> 
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                        <img src="https://www.img.in.th/images/ba6a7f2d3555a5368d5835627ce0ffbc.png" alt="">
                        <di class="text">Email</di>
                        <p class="textemail">tannut_tawonsan@hotmail.com</p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- certificate section start here -->
        <section class="certs" id="certss">
            <div class="max-width">
                <h2 class="title">My Cert</h2>
                <div class="carouselcert owl-carousel">
                    <div class="cercard">
                        <div class="cerbox">
                        <img src="../image/comtiacert.jpg" alt="">
                        <di class="text">CompTIA</di>
                        <p>Cloud Essential</p> 
                        </div>
                    </div>
                    <div class="cercard">
                        <div class="cerbox">
                        <img src="../image/psumooc01.jpg" alt="">
                        <di class="text">PSUMOOC</di>
                        <p>กระบวนการคิดวิเคราะห์ (Critical Thinking)</p> 
                        </div>
                    </div>
            </div>
        </section>

        <!-- contact 2  section start here -->
          <section class="contact2" id="contact2">
            <div class="max-width">
                <h2 class="title">Get in Touch</h2>
                <div class="contact2-content">
                        <div class="icons">
                            <div class="row">
                                <i class="fas fa-phone"></i>
                                <div class="info">
                                    <div class="sub-title">Cell : (+66)094-3201829</div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="info">
                                    
                                    <div class="sub-title">Address : Phuket,Thailand</div>
                                </div>
                            </div>

                            <div class="row">
                                <i class="fas fa-envelope"></i>
                                <div class="info">
                                    <div class="sub-title">Email: tannut_tawonsan@hotmail.com</div>
                                </div>
                            </div>

                        </div>
                    
                </div>
            </div>
            </section>


    
        
   

    <script type="text/javascript" src="/js/responses.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/particles.js"></script>
</body>
</html>