@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.max-width{
    max-width: 1300px;
    padding:  0 80px;
    margin: auto;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    text-shadow: 1px 1.5px 2px #1f2833;
}
.navbar.sticky{
    padding: 10px 0;
    background: #0B0c10;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #0B0c10;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: rgb(255, 255, 255);
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li .hhh{
    color: #66fcf1;
}
.navbar .menu li .hhh:hover{
    color: #ffffff;
}
.navbar .menu li a:hover{
    color: #66fcf1;
}
/* menu buttom  */
.menu-btn{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* hire buttom */

@keyframes spring2 {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  
@keyframes spring3 {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.90, 0.90);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 0.95);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  
.hire-bt {
    animation: spring2 300ms ease-out;
    margin-bottom: 15px;
    border-radius: 0.8em;
    color: #ffffff;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    background: linear-gradient(to bottom right, #66fcf1 0%, #45a29e 100%);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1.5px 2px #1f2833;
    cursor: pointer;
 }
 .hire-bt:hover {
    animation: spring 300ms ease-out;
    background: linear-gradient(to bottom right, #45a29e 0%, #66fcf1 100%);
}
.hire-bt:active {
	position:relative;
	top:1.5px;
}

/* home section */

.home {
    display: flex;
    background: url("../image/job01.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    color: rgb(255, 255, 255);
    min-height: 800px;
    font-family: 'Poppins', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40;

}
.home .home-content .text-1{
    font-size: 27px;
    text-shadow: 1px 3px 2px #1f2833;

}.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    text-shadow: 1px 3px 2px #1f2833;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
    text-shadow: 1px 3px 2px #1f2833;
}

.home .home-content .text-3 span{
    color: #66fcf1;
    font-weight:  500;
}
.home .home-content a{
    display: inline-block;
    background:#1f2833;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
}

/* about section */
section{
    padding: 100px 0;
    background-color: #0B0c10;
}
.about, .services, .skills , .contacts , .contact2{
    font-family: "Poppins", sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;

}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 1.5px;
    background: #fff;
    transform: translateX(-50%);

}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: #66fcf1;
    padding: 5px;
    background: #0B0c10;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .left{
   width: 45%;
}
.about .about-content .right{
    width: 55%;
 }
 .about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
 }
.about .about-content .right .text span{
    color: #45a29e;
}
.about .about-content .right p{
    text-align: justify;
    color: #fff;
}
.about .about-content .right a{
    display: inline-block;
    background:#45a29e;
    color: #fff;
    font-size: 20px;
    padding: 3px 30px;
    border-radius: 0.8em;
    font-weight: 500;
    margin-top: 15px;
}
.about .about-content .right a:hover{
    animation: spring2 300ms ease-out;
    color: #45a29e;
    background: none;
    border-radius: 0.8em;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 1.6em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

/* services section */
.services{
    color: #fff;
    background: #1f2833;
}
.services .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;

}
.services .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 1.5px;
    background: #fff;
    transform: translateX(-50%);

}
.services .title::after{
    content: "What i provide";
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: #66fcf1;
    padding: 5px;
    background: #1f2833;
    transform: translateX(-50%);
}
.services .services-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 25px;
}
.services .services-content .card{
    width: calc(33% - 20px);
   /*background: #0B0c10;
   border-radius: 0.8em;*/
   cursor: pointer;
}
.services .services-content .card .box{
    transition:  all 0.3 ease;
}
.services .services-content .card .box .text{
    transition: color 0.4s ease;
}
.services .services-content .card .box .text:hover{
    text-shadow: 1px 1px 2px #000000;
}
.services .services-content .card:hover{
    color: #66fcf1;
    animation: spring2 300ms ease-out;
}

.services .services-content .card:hover .box{
    transform: scale(1.15);
}
.services .services-content .card i{
    font-size: 50px;
    color: #66fcf1;
    transition:  color 0.4s ease;
}
.services .services-content .card:hover i{
    font-size: 50px;
    color: #ffffff;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section */
.skills .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;

}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 1.5px;
    background: #fff;
    transform: translateX(-50%);

}
.skills .title::after{
    content: "what i know";
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 20px;
    color: #66fcf1;
    padding: 5px;
    background: #0B0c10;
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .skills-content .colum{
    width: calc(50% - 30px);
    
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.skills .skills-content .left p{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    color: #fff;
}
.skills .skills-content .left a{
    display: inline-block;
    background:#45a29e;
    color: #fff;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 0.8em;
    font-weight: 500;
    margin-top: 15px;
}
.skills .skills-content .left a:hover{
    animation: spring2 300ms ease-out;
    color: #45a29e;
    background: none;
    border-radius: 0.8em;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.skills .skills-content .right .span{
    font-weight: 500;
    font: 15px;
    color: #fff;
}
.skills .skills-content .right .line{
    height: 10px;
    width: 100%;
    background: #1f2833;
    position: relative;
}
.skills .skills-content .right .line::before{
   content: "";
   position: absolute;
   height: 100%;
   width: 80%;
   left: 0;
   top: 0;
   background: linear-gradient(to bottom right, #0B0c10 0%, #66fcf1 100%);
}
.skills .skills-content .right .html::before{
    width: 50%;
}
.skills .skills-content .right .java::before{
    width: 55%;
}
.skills .skills-content .right .css::before{
    width: 60%;
}
.skills .skills-content .right .sql::before{
    width: 60%;
}

.carouselskills .card{
    width: 30%;
    border-radius: 20px;
    padding:  30px 10px;
    text-align: center;
    transition:  color 0.1s ease;
    margin-left: 36%;
}
.carouselskills .card p{
    
    text-shadow: 1px 3px 2px #1f2833;
    
}

.carouselskills .card .text{
    color: #fff;
    font-size:  20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    text-shadow: 2px 3px 2px #1f2833;
}
.carouselskills .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.carouselskills .card .box .textemail{
    font-size: 15px;
    
}
.carouselskills .card img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.carouselskills .card:hover img{
    border-color: #1f2833;
}
.owl-dots{
    text-align: center;
   
}
.owl-dot{
    height: 5px;
    width: 5px;
    margin: 0 3px;
    outline: none!important; /*  tmportant */
    border-radius: 50%;
    border: 2px solid #66fcf1!important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active,.owl-dot:hover{
    background: #66fcf1!important;
}












/*  Contact section */

.contacts{
    margin-top: 100px;
    color: #fff;
    background: #1f2833;
    width: 100%;
    text-align: center;
}
.contacts .title::before{
    background: #ffffff;
}
.contacts .title::after{
    content: "contact";
    background: #1f2833;
}

.contacts .carousel .card{
    border-radius: 20px;
    padding:  25px 35px;
    text-align: center;
    transition:  color 0.4s ease;
    
    
}
.contacts .carousel .card p{
    
    text-shadow: 1px 3px 2px #1f2833;
    
}

.contacts .carousel .card:hover{
    background: #45a29e;
    animation: spring3 300ms ease-out;
}

.contacts .carousel .card .text{
    font-size:  25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    text-shadow: 2px 3px 2px #1f2833;
}
.contacts .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts .carousel .card .box .textemail{
    font-size: 15px;
    
}
.contacts .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: fill;
    border-radius: 3em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.contacts .carousel .card:hover img{
    border-color: #1f2833;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important; /*  tmportant */
    border-radius: 50%;
    border: 2px solid #66fcf1!important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active,.owl-dot:hover{
    background: #66fcf1!important;
}


/*  cert section */

.certs{
    margin-top: 100px;
    color: #fff;
    background: #1f2833;
    width: 100%;
    text-align: center;
}
.certs .title::before{
    background: #ffffff;
}
.certs .title::after{
    content: "certificate";
    background: #1f2833;
}
.certs .carouselcert .cercard{
    
    border-radius: 20px;
    padding:  25px 35px;
    text-align: center;
    transition:  color 0.4s ease;
    
    
}
.certs .carouselcert .cercard p{
    
    text-shadow: 1px 3px 2px #1f2833;
    
}

.certs .carouselcert .cercard:hover{
    background: #45a29e;
    animation: spring3 300ms ease-out;
}

.certs .carouselcert .cercard .text{
    font-size:  25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    text-shadow: 2px 3px 2px #1f2833;
}
.certs .carouselcert .cercard .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certs .carouselcert .cercard img{
    
    object-fit: fill;
    border-radius: 0.5em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.certs .carouselcert .card:hover img{
    border-color: #1f2833;
}

/* 
/*  Contact2me section */


.contact2{
    margin-top: 30px;
    color: #fff;
    background: #1f2833;
    width: 100%;

}
 .contact2 .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #66fcf1;
}

.contact2 .title::after{
    content: "";
    background: #1f2833;
}
.contact2 .contact2-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact2 .contact2 .colum{
    width: calc(50% - 30px);
}
.contact2 .contact2-content .left{
    font-size: 17px;
    font-weight: 10;
    margin-bottom: 10px;
    
}
.contact2 .contact2-content .left p{
    text-align: center;

}
.contact2 .contact2-content .left .icons{
    margin: 10px 0;
}

.contact2 .contact2-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact2 .contact2-content .row .info{
    margin-left: 30px;
}
.contact2 .contact2-content .row i{
    font-size: 25px;
    color: #66fcf1;
}
.contact2 .contact2-content .info .head{
    font-weight: 500;
}
.contact2 .contact2-content .info .sub-title{
    color: rgb(255, 255, 255);
}


/*  responsive media query start */
@media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    
    }
    .skills .skills-content .right .parti{
        max-width: 800px;
    }
}
@media (max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
       
    }
}
@media (max-width:991px){
    
    .max-width{
        padding: 0 50px;
    }
    .skills .skills-content .right .parti{
        max-width: 450px;
    }
}

@media (max-width:947px){
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top:0;
        background: #0B0c10;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0%;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    
    .max-width{
        max-width: 800px;
        
    }
    .about .about-content .colum{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;

    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
        padding: 10px 23px ;
    }
    .skills .skills-content .colum{
        width: 100%;
        padding: 10px 23px ;
        margin-bottom: 25px;
    }
        
    
    .skills .skills-content .right .parti{
        max-width: 600px;
        margin-bottom: 25px;
    }
}
@media (max-width:690px){
    .max-width{
        padding:  0 23px;
    }

    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .services-content .card{
        width: 100%;
        padding: 10px 23px ;
    }
    .skills .skills-content .colum{
        width: 100%;
        padding: 10px 23px ;
        
    }

    .skills .skills-content .right .parti{
        max-width: 300px;
    }
}

@media (max-width:500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .skills .skills-content .right .parti{
        max-width: 200px;
    }
}


.parti{
    max-width: 700px;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
 
    
    
